.DS_Store
Thumbs.db
*.log
*.tmp
.vscode/
.idea/

backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/.mypy_cache/
backend/*.sqlite
backend/*.sqlite3
backend/bd_hitnote.db
backend/.env

**/__pycache__/
**/*.pyc
**/*.pyo

frontend/node_modules/
frontend/.vite/
frontend/dist/
frontend/.turbo/
frontend/.env
frontend/.env.*    # ex.: .env.development.local
frontend/build

**/.parcel-cache/
**/.cache/
coverage/

frontend/.env.local
*.env

bd_hitnote.db

*.env
*.swp
*.swo
